/* Golden Section Modular Scale 
https://www.modularscale.com/?26&px&1.6 */

html {
  font-family: 'Ubuntu', Verdana, sans-serif;            	
  font-size: 1.625em; /* 26px */
  line-height: 1.182em; /* 26px / ~ 120& */
}

body {
  background-image: url("images/Fitness.png");
  background-repeat: no-repeat;
  background-size: 767px 1350px;   
  width: 70%;
  margin: 0 auto;	
}

#main_title {
  padding-top: 10px;	
  font-size: 4.16em; /* 66.56 */
  font-family: 'Ubuntu', Verdana, sans-serif;
  font-weight: bold;
  color: #000080;
}
  
#first_name {
  padding: .6em; 
  font-family: 'Ubuntu', Verdana, sans-serif;	
  color: #000080;	
}
  
#last_name {
  padding: .6em;
  font-family: 'Ubuntu', Verdana, sans-serif;	
  color: #000080;		
}

#email {
  padding: .6em;	
  font-family: 'Ubuntu', Verdana, sans-serif;	
  color: #000080;	
}

#address {
  padding: .6em;	
  font-family: 'Ubuntu', Verdana, sans-serif;	
  color: #000080;	
}
  
#phone {
  padding: .6em;	
  font-family: 'Ubuntu', Verdana, sans-serif;	
  color: #000080;	
}
  
#dob {
  padding: .6em;	
  font-family: 'Ubuntu', Verdana, sans-serif;	
  color: #000080;	
}
  
input[type=text] {
  width: 350px;  
  padding: 13px 8px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #000080;     
  font-size: 1.3em;
}
    
input[type=text]:focus {
  background-color: #F0D7D7;     
}

input[type=email] {
  width: 350px;   
  padding: 13px 8px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #000080;
  font-size: 1.3em;	
}

input[type=email]:focus {
  background-color: #F0D7D7;     
}

input[type=tel] {
  width: 350px;   
  padding: 13px 8px;
  margin: 8px 0;	
  border-radius: 15px 50px 30px 30px;
  background-color: #f8f8f8;
  border: solid #000080; 
  font-size: 1.3em;	
}

input[type=tel]:focus {
  background-color: #F0D7D7;     
}

input[type=submit] {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  margin: 50px 10px;
  cursor: pointer;  	
  background-color: white;
  color: #f5f5dc;
  border: 2px solid #000080; 	
  font-family: 'Ubuntu', Verdana, sans-serif; 
}
    
input[type=submit]:hover {
  background-color: #000080;
  color: white;	
}
